<nav class="navbar navbar-expand-lg custom-navbar sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <span class="navbar-icon"><i class="fa-solid fa-location-dot"></i></span>
      <span class="brand-text">Wanderlust</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav align-items-center me-auto">
        <a class="nav-link active" aria-current="page" href="/listings">Explore</a>
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
      </div>

      <form class="d-flex search-form mx-lg-auto my-2 my-lg-0" role="search" action="/listings" method="GET">
        <input class="form-control search-input me-2" type="search" name="search" placeholder="Search listings..." aria-label="Search" value="<%= typeof search !== 'undefined' ? search : '' %>" />
        <button class="btn btn-search" type="submit">Search</button>
      </form>

      <div class="navbar-nav align-items-center ms-lg-auto">
        <% if (currentUser) { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } else { %>
          <a class="nav-link" href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>